service: current-cruiser-api

provider:
    name: aws
    runtime: nodejs18.x
    region: us-east-1
    environment:
        NODE_ENV: production
        MONGODB_URI: ${ssm:/current-cruiser-api/MONGODB_URI}
        JWT_SECRET: ${ssm:/current-cruiser-api/JWT_SECRET}
        NODE_OPTIONS: --enable-source-maps

functions:
    app:
        handler: server.handler
        events:
            - httpApi:
                  path: /{proxy+}
                  method: any
